<div class="container center">
  <!-- Search -->
  <%= form_tag sozees_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a sozee"
  %>
<% end %>
  <!--  -->
  <div class="center-text"><h3>Les Sozees disponibles</h3>
  </div>
  <div class="row">
    <% @sozees.each do |sozee| %>
    <div class="col-xs-12 col-sm-6 col-lg-4">
      <div class="main-card-index">
       <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path sozee.photo %>')";>
        <div class="card-category-index"><%= sozee.user.city %></div>
        </div>
        <div class="card-info-index">
          <div class="card-description-index">
            <h2><%= sozee.sozee_name %></h2>
            <p><%= sozee.user.username %></p>
          </div>
          <div class="price">
            <p><%=sozee.category%></p>
            <p><i class="fa fa-eur" aria-hidden="true"></i> <%= sozee.price_per_hour %>/h</p>
            <%= link_to "", sozee_path(sozee), class: "full-card-link" %>
          </div>
        </div>
      <!-- <a class="card-link-index" href="#" ></a> -->
    </div>
  </div>
  <% end %>
</div>
</div>





