<div class="container">
  <h3>Sozees</h3>
  <div class="row">
    <% @sozees.each do |sozee|  %>
        <div class="col-xs-12 col-sm-6">
          <div class="index-card">
            <div class="index-card-content" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path sozee.photo %>')">

                <div class="city">
                  <p><i class="fa fa-map-marker" aria-hidden="true"></i> Paris<%= sozee.user.city %></p>
                </div>
                <div class="card-description">
                  <div class="name-sozee">
                    <h2>Sozee de <%= sozee.sozee_name %></h2>
                    <p><%= sozee.user.username %></p>
                  </div>
                    <%= sozee.description %>
                  <div class="price">
                    <p><i class="fa fa-eur" aria-hidden="true"></i> <%= sozee.price_per_hour %>/h</p>
                  </div>
                </div>

            </div>


            <div class="index-card-stats">
                <ul class="list-inline">
                  <li><i class="fa fa-heart i-stats" aria-hidden="true"></i></li>
                  <li><i class="fa fa-star i-stats" aria-hidden="true"></i></li>
                  <li><i class="fa fa-share i-stats" aria-hidden="true"></i></li>
                </ul>
            </div>

          </div>
        </div>
     <% end %>
  </div>
</div>





