<div class="main-container">
  <div class="cards-container">
    <%= form_tag sozees_path, class: "search-form" , method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Trouver un sozee"
      %>
    <% end %>
    <% @sozees.each do |sozee| %>
    <div class="col-xs-12 col-sm-6 col-lg-6">
      <div class="main-card-index">
       <div class="card-index" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path sozee.photo %>')";>
        <div class="card-category-index"><%= sozee.user.city %></div>
       </div> <!-- card index -->
       <div class="card-info-index">
        <div class="card-description-index">
          <h2><%= sozee.sozee_name %> (sozee de <%= sozee.sozee_of %>)</h2>
          <p><%= sozee.user.username %></p>
        </div><!--  card description -->
        <div class="price">
          <p><%=sozee.category%></p>
          <p><i class="fa fa-eur" aria-hidden="true"></i> <%= sozee.price_per_hour %>/h</p>
          <%= link_to "", sozee_path(sozee), class: "full-card-link" %>
        </div> <!-- price -->
       </div> <!-- card info index -->
      </div> <!-- main card index -->
    </div> <!-- col -->
    <!-- <a class="card-link-index" href="#" ></a> -->
    <% end %>
  </div> <!-- cards-container -->
  <div
    id="map"
    style="width: 100%;
    height: 600px;"
    data-markers="<%= @markers.to_json %>"
  ></div>
</div> <!-- main-container -->




