<div class="container">
  <div class="container-show">
    <div class="card-show">
      <div id="card-show-image">
        <%= cl_image_tag @sozee.photo, class: "card-user",  width: 500, height: 350, crop: :fill%>
      </div>
      <h3 id="sozee-name-show"><%= @sozee.sozee_name %></h3>
      <h3 id="sozee-price-show"><%= @sozee.price_per_hour %>€<p>de l'heure</p></h3>
      <div class="wrapper-sozee-show">
        <div class="sozee-infos-show">
          <p>Sozee de <%= @sozee.sozee_of %></p>
        </div>
        <div class="sozee-description-show">
          <p>"<%= @sozee.description %>"</p>
        </div>
        <div class="reviews">
          <ul class="list-inline">
            <li>
              <h4><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i></h4>
              <p class="review-category"><strong>Ressemblance physique</strong></p>
            </li>
            <li>
              <h4><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-half-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></h4>
              <p class="review-category"><strong>Imitation</strong></p>
            </li>
            <li>
              <h4><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i></h4>
              <p class="review-category" ><strong>Animation</strong></p>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="info-show">

      <% if user_signed_in? == false %>
        <%= link_to "Inscris toi pour booker ce sozee !", new_user_registration_path, class: "btn btn-primary" %>

      <% elsif !@sozee.bookings.where("user_id = ?", current_user.id).empty? %>

        <div class="booking-info-show">
            <p>Demande de réservation <%= link_to "en cours", dashboard_path %> pour ce sozee.</p>
        </div>
            <h3 id="new-booking-title">Nouvelle réservation</h3>
          <div class="new-booking-form">
            <%= render "bookings/new", sozee: @sozee, booking: @booking %>
        </div>

      <% elsif @sozee.user_id == @current_user.id %>
        <div class="booking-info-show">
          <p>Ceci est votre annonce telle que vu par les utilisateurs. <%= link_to "Gérer mes réservations", dashboard_path %></p>
        </div>
          <h3 id="new-booking-title">Réservez ce sozee !</h3>
          <div class="form-container-show">
            <%= render "bookings/new", sozee: @sozee, booking: @booking %>
        </div>

      <% else %>
        <h3 id="title-info-show">Réservez ce sozee !</h3>
        <div class="form-container-show">
          <%= render "bookings/new", sozee: @sozee, booking: @booking %>
        </div>
      <% end %>
    </div>
  </div>
</div>

