<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div class="card">
        <div class="card-category"><%= @sozee.sozee_name %></div>
        <div class= "card-description">
          <p><%= @sozee.description %></p>
        </div>
        <div class="card-details">
          <p><%= @sozee.category %></p>
          <p><%= @sozee.price_per_hour %>€ / h</p>
        </div>
        <%= cl_image_tag @sozee.photo, class: "card-user" %>
        <%= link_to "Modifier ce sozee", edit_sozee_path(@sozee) %>
        <%= link_to "Supprimer ce sozee", sozee_path(@sozee),
          method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    </div>
  </div>
</div>
