<div class="container block">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <%= cl_image_tag @sozee.photo, class: "card-user",  width: 500, height: 350, crop: :fill%>
        <div class="card-details" >
          <div class="card-category"><%= @sozee.user.username %></div>
            <p class="sozee-category"> Sosie de : <%= @sozee.sozee_name %> Catégorie : <%= @sozee.category.capitalize %> </p>
            <p><%= @sozee.price_per_hour %>€ / h</p>
            <p class="description"><%= @sozee.description %></p>
          </div>
      </div>
    </div>
    <!-- TO DO : CSS -->
    <!-- si visitor -->
      <% if user_signed_in? == false %>
        <!-- bouton vers signup -->
        <h3><%= link_to "Inscris toi pour booker ce sozee !", new_user_registration_path, class: "btn btn-primary" %> </h3>

        <!-- si owner du sozee -->
      <% elsif @sozee.user_id == @current_user.id %>
        <h3>Mon annonce</h3>
          <p><%= link_to "Gérer mes réservations", dashboard_path %></p>
          <p><%= link_to "Editer mon annonce" %></p>
          <p><%= link_to "Supprimer mon annonce" %></p>
        <!-- si j'ai envoyé une demande -->
      <% elsif !@sozee.bookings.where("user_id = ?", current_user.id).empty? %>
        <p>Vous avez une demande en cours pour ce sozee <%= link_to "Statut de ma demande", dashboard_path %></p>
        <%= render "bookings/new", sozee: @sozee, booking: @booking %>
        <!-- sinon -->
      <% else %>
        <%= render "bookings/new", sozee: @sozee, booking: @booking %>
      <% end %>
    </div>
  </div>
</div>
