<div class="container show">
  <div class="row">
    <div class="col-sm-6">
      <div class="card">
        <%= cl_image_tag @sozee.photo, class: "card-user",  width: 500, height: 350, crop: :fill%>
        <div class="card-details" >
        <div class="card-category"><%= @sozee.sozee_name %></div>
        <p class="sozee-category"><%= @sozee.category %></p>
        <p><%= @sozee.price_per_hour %>€ / h</p>
        <p class="description"><%= @sozee.description %></p>
        </div>
      </div>
    </div>
    <!-- si visitor -->
    <% if user_signed_in? == false %>
      <!-- bouton vers signup -->
      <h2>Inscrit toi pour booker ce sozee !</h2>
    <!-- si owner du sozee -->
    <% elsif @sozee.user_id == @current_user.id %>
      <!-- TODO find info to display -->
      <h2>Tu as X demandes en cours</h2>
    <!-- si j'ai envoyé une demande -->
      <!-- statut -->
    <!-- sinon -->
    <% else %>
      <%= render "bookings/new", sozee: @sozee, booking: @booking %>
    <% end %>
  </div>
</div>
