<div class="container">
  <div class="container-show">
    <div class="card-show">
      <%= cl_image_tag @sozee.photo, class: "card-user",  width: 500, height: 350, crop: :fill%>
      <h3><%= @sozee.sozee_name %></h3>
      <p>Sosie de : <strong><%= @sozee.sozee_of %></strong> &nbsp&nbsp Catégorie : <strong><%= @sozee.category %></strong> &nbsp&nbsp Prix :  <strong><%= @sozee.price_per_hour %>€/h</strong></p>
      <p>Description du sozee :</p>
      <p><strong><%= @sozee.description %></strong></p>
    </div>

    <div class="info-show">
          <!-- si visitor -->
      <% if user_signed_in? == false %>
              <!-- bouton vers signup -->
      <%= link_to "Inscris toi pour booker ce sozee !", new_user_registration_path, class: "btn btn-primary" %>
      <!-- si owner du sozee -->
      <% elsif @sozee.user_id == @current_user.id %>
      Mon annonce
      <%= link_to "Gérer mes réservations", dashboard_path %>
      <%= link_to "Editer mon annonce" %>
      <%= link_to "Supprimer mon annonce" %>
      <!-- si j'ai envoyé une demande -->
      <% elsif !@sozee.bookings.where("user_id = ?", current_user.id).empty? %>
      Vous avez une demande en cours pour ce sozee <%= link_to "Statut de ma demande", dashboard_path %>
      <%= render "bookings/new", sozee: @sozee, booking: @booking %>
      <!-- sinon -->
      <% else %>
      <%= render "bookings/new", sozee: @sozee, booking: @booking %>
      <% end %>
    </div>
  </div>
</div>

