<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">

      <%= simple_form_for ([ @sozee, @user, @booking ]) do |f| %>
        <%= f.input :location %>
        <%= f.input :starts_at %>
        <%= f.input :ends_at %>
        <%= f.submit "Book this sozee !", class: "btn btn-primary" %>
      <% end %>

    </div>
  </div>
</div>
