<% unless current_user.sozees.empty? %>
  <h3>Mon profil Sozee</h3>
    <!-- mes reservations en tant que sozee -->
    <p>Demandes en cours :</p>
      <% current_user.sozees.first.bookings.each do |booking| %>
      <p><%= booking.user.username%> souhaite vous réserver du <%= booking.starts_at %> au <%= booking.ends_at %> <%= link_to "Accepter" %>  <%= link_to "Refuser" %> </p>
  <% end %>
    <p><%= link_to "Supprimer mon annonce" %></p>

    <!-- mes reservations en tant que user -->

<% else %>
  <h3>Mon profil user</h3>
    <p> Demande de réservation (en tant que user) </p>
      <p>Date : du <%= current_user.bookings.last.starts_at%> au <%= current_user.bookings.last.ends_at%> </p>
      <p>Statut : en attente d'acceptation du sozee </p>
  <% end %>
